-- MySQL dump 10.13  Distrib 9.2.0, for Linux (x86_64)
--
-- Host: localhost    Database: pokedex
-- ------------------------------------------------------
-- Server version	9.2.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Ability`
--

DROP TABLE IF EXISTS `Ability`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Ability` (
  `ability_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `description` text,
  PRIMARY KEY (`ability_id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=966 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Ability`
--

LOCK TABLES `Ability` WRITE;
/*!40000 ALTER TABLE `Ability` DISABLE KEYS */;
/*!40000 ALTER TABLE `Ability` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Evolution`
--

DROP TABLE IF EXISTS `Evolution`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Evolution` (
  `evolution_id` int NOT NULL AUTO_INCREMENT,
  `base_pokemon_id` int DEFAULT NULL,
  `evolved_pokemon_id` int DEFAULT NULL,
  `evolution_method` varchar(50) DEFAULT NULL,
  `evolution_condition` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`evolution_id`),
  KEY `base_pokemon_id` (`base_pokemon_id`),
  KEY `evolved_pokemon_id` (`evolved_pokemon_id`),
  CONSTRAINT `Evolution_ibfk_1` FOREIGN KEY (`base_pokemon_id`) REFERENCES `Pokemon` (`pokemon_id`),
  CONSTRAINT `Evolution_ibfk_2` FOREIGN KEY (`evolved_pokemon_id`) REFERENCES `Pokemon` (`pokemon_id`)
) ENGINE=InnoDB AUTO_INCREMENT=561 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Evolution`
--

LOCK TABLES `Evolution` WRITE;
/*!40000 ALTER TABLE `Evolution` DISABLE KEYS */;
/*!40000 ALTER TABLE `Evolution` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Move`
--

DROP TABLE IF EXISTS `Move`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Move` (
  `move_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `type_id` int DEFAULT NULL,
  `power` int DEFAULT NULL,
  `accuracy` int DEFAULT NULL,
  `pp` int DEFAULT NULL,
  PRIMARY KEY (`move_id`),
  UNIQUE KEY `name` (`name`),
  KEY `type_id` (`type_id`),
  CONSTRAINT `Move_ibfk_1` FOREIGN KEY (`type_id`) REFERENCES `Type` (`type_id`)
) ENGINE=InnoDB AUTO_INCREMENT=868 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Move`
--

LOCK TABLES `Move` WRITE;
/*!40000 ALTER TABLE `Move` DISABLE KEYS */;
/*!40000 ALTER TABLE `Move` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Pokemon`
--

DROP TABLE IF EXISTS `Pokemon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Pokemon` (
  `pokemon_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `height` decimal(4,2) DEFAULT NULL,
  `weight` decimal(6,2) DEFAULT NULL,
  `base_experience` int DEFAULT NULL,
  `hp` int DEFAULT NULL,
  `attack` int DEFAULT NULL,
  `defense` int DEFAULT NULL,
  `special_attack` int DEFAULT NULL,
  `special_defense` int DEFAULT NULL,
  `speed` int DEFAULT NULL,
  `img_src` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`pokemon_id`)
) ENGINE=InnoDB AUTO_INCREMENT=303 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Pokemon`
--

LOCK TABLES `Pokemon` WRITE;
/*!40000 ALTER TABLE `Pokemon` DISABLE KEYS */;
/*!40000 ALTER TABLE `Pokemon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Pokemon_Ability`
--

DROP TABLE IF EXISTS `Pokemon_Ability`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Pokemon_Ability` (
  `pokemon_id` int NOT NULL,
  `ability_id` int NOT NULL,
  `is_hidden` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`pokemon_id`,`ability_id`),
  KEY `ability_id` (`ability_id`),
  CONSTRAINT `Pokemon_Ability_ibfk_1` FOREIGN KEY (`pokemon_id`) REFERENCES `Pokemon` (`pokemon_id`),
  CONSTRAINT `Pokemon_Ability_ibfk_2` FOREIGN KEY (`ability_id`) REFERENCES `Ability` (`ability_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Pokemon_Ability`
--

LOCK TABLES `Pokemon_Ability` WRITE;
/*!40000 ALTER TABLE `Pokemon_Ability` DISABLE KEYS */;
/*!40000 ALTER TABLE `Pokemon_Ability` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Pokemon_Move`
--

DROP TABLE IF EXISTS `Pokemon_Move`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Pokemon_Move` (
  `pokemon_id` int NOT NULL,
  `move_id` int NOT NULL,
  `level_learned` int DEFAULT NULL,
  PRIMARY KEY (`pokemon_id`,`move_id`),
  KEY `move_id` (`move_id`),
  CONSTRAINT `Pokemon_Move_ibfk_1` FOREIGN KEY (`pokemon_id`) REFERENCES `Pokemon` (`pokemon_id`),
  CONSTRAINT `Pokemon_Move_ibfk_2` FOREIGN KEY (`move_id`) REFERENCES `Move` (`move_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Pokemon_Move`
--

LOCK TABLES `Pokemon_Move` WRITE;
/*!40000 ALTER TABLE `Pokemon_Move` DISABLE KEYS */;
/*!40000 ALTER TABLE `Pokemon_Move` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Pokemon_Type`
--

DROP TABLE IF EXISTS `Pokemon_Type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Pokemon_Type` (
  `pokemon_id` int NOT NULL,
  `type_id` int NOT NULL,
  PRIMARY KEY (`pokemon_id`,`type_id`),
  KEY `type_id` (`type_id`),
  CONSTRAINT `Pokemon_Type_ibfk_1` FOREIGN KEY (`pokemon_id`) REFERENCES `Pokemon` (`pokemon_id`),
  CONSTRAINT `Pokemon_Type_ibfk_2` FOREIGN KEY (`type_id`) REFERENCES `Type` (`type_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Pokemon_Type`
--

LOCK TABLES `Pokemon_Type` WRITE;
/*!40000 ALTER TABLE `Pokemon_Type` DISABLE KEYS */;
/*!40000 ALTER TABLE `Pokemon_Type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Type`
--

DROP TABLE IF EXISTS `Type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Type` (
  `type_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  PRIMARY KEY (`type_id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=1000 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Type`
--

LOCK TABLES `Type` WRITE;
/*!40000 ALTER TABLE `Type` DISABLE KEYS */;
INSERT INTO `Type` VALUES (12,'Bug'),(16,'Dark'),(15,'Dragon'),(5,'Electric'),(18,'Fairy'),(7,'Fighting'),(2,'Fire'),(10,'Flying'),(14,'Ghost'),(4,'Grass'),(9,'Ground'),(6,'Ice'),(1,'Normal'),(8,'Poison'),(11,'Psychic'),(13,'Rock'),(17,'Steel'),(3,'Water');
/*!40000 ALTER TABLE `Type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pokemon_genders`
--

DROP TABLE IF EXISTS `pokemon_genders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pokemon_genders` (
  `id` int NOT NULL AUTO_INCREMENT,
  `pokemon_id` int NOT NULL,
  `gender` varchar(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_pokemon_gender` (`pokemon_id`,`gender`),
  CONSTRAINT `pokemon_genders_ibfk_1` FOREIGN KEY (`pokemon_id`) REFERENCES `pokemon_species` (`pokemon_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=278 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pokemon_genders`
--

LOCK TABLES `pokemon_genders` WRITE;
/*!40000 ALTER TABLE `pokemon_genders` DISABLE KEYS */;
/*!40000 ALTER TABLE `pokemon_genders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pokemon_species`
--

DROP TABLE IF EXISTS `pokemon_species`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pokemon_species` (
  `pokemon_id` int NOT NULL,
  `category` varchar(100) NOT NULL,
  `flavor_text` text NOT NULL,
  PRIMARY KEY (`pokemon_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pokemon_species`
--

LOCK TABLES `pokemon_species` WRITE;
/*!40000 ALTER TABLE `pokemon_species` DISABLE KEYS */;
/*!40000 ALTER TABLE `pokemon_species` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `type_damage_relations`
--

DROP TABLE IF EXISTS `type_damage_relations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `type_damage_relations` (
  `attacking_type_id` int NOT NULL,
  `defending_type_id` int NOT NULL,
  `multiplier` decimal(2,1) NOT NULL,
  PRIMARY KEY (`attacking_type_id`,`defending_type_id`),
  KEY `defending_type_id` (`defending_type_id`),
  CONSTRAINT `type_damage_relations_ibfk_1` FOREIGN KEY (`attacking_type_id`) REFERENCES `Type` (`type_id`),
  CONSTRAINT `type_damage_relations_ibfk_2` FOREIGN KEY (`defending_type_id`) REFERENCES `Type` (`type_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `type_damage_relations`
--

LOCK TABLES `type_damage_relations` WRITE;
/*!40000 ALTER TABLE `type_damage_relations` DISABLE KEYS */;
/*!40000 ALTER TABLE `type_damage_relations` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-04-04 19:05:12
